<h1>Listing personas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Sexo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personas.each do |persona| %>
  <tr>
    <td><%= persona.nombre %></td>
    <td><%= persona.sexo %></td>
    <td><div class="btn-group">
          <button class="btn">Options</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Show', persona %></li>
            <li><%= link_to 'Edit', edit_persona_path(persona) %></li>
            <li><%= link_to 'Destroy', persona, confirm: 'Are you sure?', method: :delete %></li>
          </ul>
        </div>
      </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Persona', new_persona_path %>
